<div class="row">
	<div class="col-md-12">
		<h2>订单明细</h2>

		<table class="table table-shopping">
      <thead>
        <tr>
          <th width="60%">商品明细</th>
          <th>单价</th>
          <th>数量</th>
          <th>小计</th>
        </tr>
      </thead>
      <tbody>

        <% @product_lists.each do |product_list| %>
          <tr>
            <td>
              <%= product_list.product_name %>
            </td>
            <td>
              <%= product_list.product_price %>
            </td>
            <td>
            	<%= product_list.quantity %>
            </td>
            <td><%= product_list.quantity * product_list.product_price %></td>
          </tr>
        <% end %>

      </tbody>
    </table>
    <hr>
     <div class="total clearfix">
      <span class="pull-right">
        总计 <%= @order.total %> CNY
      </span>
    </div>

    <hr>
    <table class="table table-shopping">
    	<thead>
    		<tr>
    			<th>收货人姓名</th>
    			<th>电话</th>
    			<th>地址</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr>
    			<td><%= @order.name %></td>
    			<td><%= @order.cellphone %></td>
    			<td><%= @order.address %></td>
    		</tr>
    	</tbody>
    </table>
	</div>
</div>