<tr id="cart-item-<%= cart_item.id %>" >
  <td>

  </td>
           	<td>

                    	 <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail-carts") %>

           	</td>
           	<td><p>商品已下架</p></td>
           	<td></td>
           	<td >

           		</td>
           	<td class="cart-item-price-<%= cart_item.id %>" id="item-price-<%= index %>">

           		</td>
           	<td><%= link_to("删除", cart_item_path(cart_item.product_id), :remote => true, :method => :delete) %></td>
           </tr>
