<h2>Add a new product</h2>

<%= simple_form_for [:admin, @product] do |f| %>
	<%= f.input :title, label: "名称" %>
	<%= f.input :description, label: "描述" %>
	<%= f.input :price, label: "价格" %>
	<%= f.input :quantity, label: "数量" %>

	<%= f.input :image, as: :file, label: "上传图片" %>

	<%= f.submit "新增", data: {disable_with: "新增.."} %>
	<%= link_to("取消", :back, class: "btn btn-sm btn-default") %>
	<% end %>